canvas {
    display: block;
    margin: 0 auto;
}

html {
    background-image: url(image/fon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#speed-buttons {
    text-align: center;
    margin-top: 20px;
}

#speed-buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#speed-buttons button:hover {
    background-color: #45a049;
}
#reset-record-button {
    text-align: center;
    margin-top: 20px;
}

#reset-record-button button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-record-button button:hover {
    background-color: #45a049;
}



